body{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #0f460f, #157315);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 40px;
}

#baraja{
  border-radius: 21px;
  overflow: hidden;
}

#miscartas{
  border-radius: 21px;
  overflow: hidden;
}

.carta{
  border-radius: 21px;
  overflow: hidden;
}

.botones{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.boton{
  all: unset;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(128, 43, 43);
  color: white;
  text-align: center;
  box-shadow: 0 0 5px rgb(8, 55, 8);
  font-size: 20px;
}

.boton:hover{
  background-color: rgb(171, 36, 36);
  box-shadow: 0 0 0px rgb(8, 55, 8);
}

.plantar{
  background-color: rgb(68, 28, 28); 
}
